<html><table border="1">
<tr><td>ID</td><td>用户</td><td>密码</td><td>性别</td><td>年龄</td><td>电话</td><td>邮箱</td><td>角色</td><td>ID</td></tr>


{%for n in usera%}
<tr><td>{{ n[0] }}</td><td>{{n[1]}}</td><td>{{n[2]}}</td><td>{{n[3]}}</td><td>{{n[4]}}</td><td>{{n[5]}}</td><td>{{n[6]}}/</td><td>{{n[7]}}</td><td>
<a href="http://192.168.1.7:8080/deleteuser?id={{n[0]}}">删除 </a>
<a href="http://192.168.1.7:8080/update?id={{n[0]}}">修改</a></td></tr>

{%endfor%}

<a href="http://192.168.1.7:8080/">退出</a>
</table></html>
