<html>
</head>
    <body>
            <form  role="form" action="/login/" method="POST">
                <h2>注册页面</h2>
				   <h2> {{ res['msg'] }}</h2>
                 <input type="text" class="form-control" name='username' placeholder="用户名" required autofocus>
                <input type="text" class="form-control" name='passwd' placeholder="密码" required >
                <input type="text" class="form-control" name='age' placeholder="年龄" required >
                 <input type="text"  name='sex' placeholder="性别" required >
                 <input type="text" name='phone' placeholder="手机号码" required >
                 <input type="text"  name='email' placeholder="邮箱" required >
                 <input type="text"  name='role' placeholder="角色" required >
                 <button type="submit">login</button>
                 <a href="http://192.168.1.7:8080/">已有账号，马上登陆</a>
            </form
        </body>
    </html>
            
