<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/main.4df360a5.css">
</head>
<body class="zhi  no-auth" style="">
<div class="index-main">
    <div class="index-main-body">
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="index-tab-navs">
                <div class="navs-slider" data-active-index="0">
				<a onclick='changeTab("signup")'  class="active"  id="tab_active_sinup">登录</a>
                <span class="navs-slider-bar" id='tab_slider_bar'></span>
                </div>
            </div>
            <div class="view view-signup selected" data-za-module="SignUpForm" id="tab_sign_up" style="display: block;">
            
            <form class="zu-side-login-box"  id="sign-form-1" action='/login/' method="POST" novalidate="novalidate">
                <div class="group-inputs">
                    <input type="hidden" name="id">
                    <div class="name input-wrapper">
                        <input type="text" name="username" aria-label="姓名" placeholder="姓名">
                    </div>
                    <div class="input-wrapper">
                        <input type="password" name="password" aria-label="密码" placeholder="密码">
                    </div>
                </div>
                <div class="button-wrapper command">
                    <button class="sign-button submit" type="submit" name="commit">登录</button>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>
<div id="particles">
    <canvas class="particles-js-canvas-el" width="2530" height="1222" style="width: 100%; height: 100%;"></canvas>
</div>
</body>
</html>