<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
h2 {color:gold;text-align:center;}
#red {color:red;}
#blue {color:blue;}
</style>
</head>
<body >
<h2>欢迎来到注册页</h2>
<form action="/reg/" accept-charset="UTF-8" method="post">
姓名：<input id="red" type="text" name="username"><br>
密码：<input id="blue" type="password" name="passwd"><br>
角色：<input id="red" type="radio" name="role" value=0>管理员
      <input id="red" type="radio" name="role" value=1>用户<br>
<input id="blue" type="submit" name="commit" value="登录">
<br>
<br>
<h3>你的用户名：{{info.username}}</h3>
<h3>你的密码：{{info.passwd}}</h3>
<h3>你的角色：{% if info.role == 1 %}普通用户{% else %}管理员{%endif%}</h3>
<br>
<h2>{{error}}</h2>
<br>
</body>
</html>
