<form action="/update/" method="POST" >
    <ul>
        <li>用户名:<input type="text" value="{{n[1]}}" name="username"></li>
        <li>密 码:<input type="text" value="{{n[2]}}" name="passwd"></li>
        <li>性别:<input type="test" value="{{n[3]}}" name="sex"></li>
        <li>年龄:<input type="text" value="{{n[4]}}" name="age"></li>
        <li>电话:<input type="text" value="{{n[5]}}" name="phone"></li>
        <li>邮箱:<input type="text" value="{{n[6]}}"  name="email"></li>
        <li>角色:<input type="text" value="{{n[7]}}" name="role"></li>
        <li>ID:<input type="text" value="{{n[0]}}" name="id"></li>
        <li><input type = 'submit'></li>
    </ul>

</form>
