<!DOCTYPE html>
<html>
     <head>
          <meta charset="UTF-8">
          <title>用户列表</title>
     </head>
     <body>
         <a href="/user/create/">添加用户</a>
         <a href="/logs/">日志列表</a>
         <table border="1px">
              <thead>
                   <tr>
                       <th>用户名</th>
                       <th>年龄</>
                       <th>密码</>
                       <th>操作</>
                   </tr>
              </thead>
              <tbody>
                   {% for user in user_list %}
                     <tr>
                         <td>{{ user[0] }}</td>
                         <td>{{ user[1] }}</td>
                         <td>{{ user[2] }}</td>
                         <td>
                            <a href="/user/find/?username={{ user[0] }}">更新</a>
                            <a href="/user/dele/?username={{ user[0] }}">删除</a>
                         </td>
                     </tr>
                   {% enfor %}
              </tbody>
       </table>
    </body>
</html>    
