{% extends 'base.html' %}
{% block main %}

<form action="{{ url_for('updata') }}" method="POST"  autocomplete="off" >
    <ul>
        <input type="hidden" name="id" value='{{result.id}}'>
        <li> 新用户名：<input type="text" name="username"  value="{{ result.username }}"></li>
        <li> 新密码：<input type="password" name="passwd" value="{{ result.passwd }}"></li>
        <li> 新年龄：<input type="text"  name="age"  value="{{ result.age }}"></li>
        <li> 新手机号：<input type="tel" name="phone" value="{{ result.phone }}"></li>
        <li> 邮箱：<input type="email" name="email"value="{{ result.email }}"></li>
        <li> 性别：<input type="text" name="sex" value="{{ result.sex }}"></li>
        <li> 角色：<input type="radio" name="role" value=0 {% if result.role==0 %} checked{% endif %}>管理员<input type="radio" name="role"  value=1 {% if result.role==1 %} checked{% endif %}>用户</li>
        <li><input class="dow"  type="submit" value="更新"></li>
    </ul>
</form>
{% endblock %}
</body></html>