<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header"> <a href="/index" class="navbar-brand">home</a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if session.logged_in %}
                        <a href="/search">用户管理</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not session.logged_in %}
                            <a href="{{ url_for('login') }}">登录</a>
                        {% else %}
                            <a href="{{ url_for('logout') }}">退出</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
</nav>