 <html>
	<title>首页</title>
	<body style="background:LightGreen">
	<table border="1px">
	<tr>
	<td>ID</td>
	<td>user</td>
	<td>password</td>	
	<td>sex</td>	
	<td>phone</td>
	<td>操作</td>	
	</tr>
	{% for user in result %}
	<tr>
	<td>{{user[0]}}</td>
	<td>{{user[1]}}</td>
	<td>{{user[2]}}</td>	
	<td>{{user[3]}}</td>	
	<td>{{user[5]}}</td>
	<td>
	<a href="http://192.168.11.130:5000/del/?id={{user[0]}}">删除</a>
	</td>	
	</tr>

	{% endfor %}
	

	<a href="http://192.168.11.130:5000/update/">更新</a><a href="http://192.168.11.130:5000/reg/">增加</a>	

	</table>
	
	
	</body>
</html>
