<html>
<head>
<meta charset="utf-8">
<form action="/reg/" method="POST" >
    <ul>
        <li>{{msg.msg}}</li>
        
        <li>ID:<input type="hidden"  name="id"></li>
        <li>用户名:<input type="text"  name="username"></li>
        <li>显示名:<input type="text"  name="name"></li>
        <li>密码:<input type="password"  name="password"></li>
        <li>电话:<input type="text"  name="phone"></li>
        <li>邮箱:<input type="text"  name="mail"></li>
        <li>role:<input type="radio"value=1 name="role">admin
                 <input type="radio"value=0 name="role">user
        </li>
        <li><input type = 'submit'></li>
    </ul>

</form>
</head>
</html>







