<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset =UTF-8">
<style>
body{width:300px;height:200px;margin:0 auto;}
fieldset{ width:300px; }
table{ width:300px; height:100px;}
</style>
</head>
<body bgcolor="#CAFFFF">
<fieldset>
<form action="/update/" method="POST">
<div class=“update">
<p class="updateTittle">更改用户信息</p>
<br>
<input type="password" name="passwd1" placeholder="密码"/>
<br />
<br>
<input type="password" name="passwd2" placeholder="确认密码"/>
</br><span style="color:red">{{errmsg}}</span></span>
<input type="submit" value="更改" style="margin-left:66px; width:70px;">
<input type="reset" value="重置" style="width:70px;"/>
</form>
</fieldset>
</body>
</html>
