{% extends "template.html" %}

{% block bread %}
 <a href="/cabinet/">机柜管理</a>
{% endblock %}


{% block content %}

<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 800px">
                 
<div class="col-sm-12">
<a id="addcn" href="/addcn/" style="float:right" class="btn btn-sm btn-primary">添加机柜</a> <br /><br /><br />

<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
        <th class="text-center">机柜名</th>
        <th class="text-center">所在机房ID</th>
        <th class="text-center">U位</th>
        <th class="text-center">电量</th>
       {% if session.role == 0 %} 
        <th class="text-center">操作</th>
       {% endif %}
    </tr>
</thead>
<tbody>
  {% for n in result %}
  <tr class="gradeX">
    <td class="text-center">{{n.cr}}</td>
    <td class="text-center">{{n.sr_id}}</td>
    <td class="text-center">{{n.u_num}}</td>
    <td class="text-center">{{n.power}}</td>
              
     {% if session.role == 0 %} 
      <td class="text-center">
        <button data-id={{n.id}} class="btn btn-xs btn-info update">编辑</button>
        <button data-id="{{n.id}}" class="btn btn-xs btn-danger del ">删除</button>
      </td>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
    
</tbody>
</table>



<!--更新模态窗-->
<div class="modal fade"  id ="updateModal">   
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">更新机柜信息</h4> 
      </div>
      <div class="modal-body">
        <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- for error msg-->
            <form id="updateForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
            <input type="hidden" id='id' name="id"  value={{result.id}}><!--update need id-->
            <div class="form-group">
                <label for="cr" class="col-sm-2 control-label">机柜名<span class="red-fonts">*</span></label>
                <div class="col-sm-8">
                    <input id="cr" name="cr" placeholder="cabinet name" type="text" class="form-control">
                </div>
            </div><!--name-->
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label for="sr_id" class="col-sm-2 control-label">所在机房<span class="red-fonts">*</span></label>
                <div class="col-sm-8">
                    <input id="sr_id" name="sr_id" placeholder="idc_id" type="text" class="form-control">
                </div>
            </div><!--idc_id-->
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label for="u_num" class="col-sm-2 control-label">U位<span class="red-fonts">*</span></label>
                <div class="col-sm-8">
                    <input id="u_num" name="u_num" placeholder="u_num" class="form-control">
                </div>
            </div><!--u_num-->
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label for="power" class="col-sm-2 control-label">电量<span class="red-fonts">*</span></label>
                <div class="col-sm-8">
                    <input id="power" name="power" type="text" placeholder="power" class="form-control">
                </div>
            </div><!--power-->
            
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="updatebtn">确认</button>
            </div>
        </div> <!--button-->
        </form> <!--form-->
      </div> <!--modal-body-->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>

$('#editable').DataTable({
        "bDestroy":true, //加上这个，一旦datatable的数据有增加或者删除，会销毁原有的，重新获取
        "language": {
                "lengthMenu": "每页 _MENU_ 条记录",
                "zeroRecords": "没有找到记录",
                "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
                "infoEmpty": "无记录",
                "infoFiltered": "(从 _MAX_ 条记录过滤)",
                "sSearch": "搜索:",
                "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
                } 
        },
        "order": [[ 1, "asc" ]] 
});

$('.del').click(function(){
    if(confirm("是否确认删除？")){
    var id=$(this).attr('data-id')
    var str="id="+id
    $.post('/deletecn/',str,function(data){
        data=JSON.parse(data);
            if(data["code"] == 0){
                swal({
                    title:'删除成功',
                    text:data['result'],
                    type:'success',
                    confirmButtonText:'Cool'
                    },function(){
                             location.reload()
                    })
         }else{
                swal('Error',data['errmsg'],'error')
        }
   })
    return false
}
})


// 点击更新按钮，获取id，从逻辑端查出对应的数据，弹出模态窗渲染数据
$(".update").click(function(){   
    //$('#updateModal').modal('hide')
    var id=$(this).attr("data-id")
    $.getJSON("/cabinetupdate/",{'id':id},function(data){
            console.log(data);
            $("#id").val(data["id"]);
            $("#cr").val(data["cr"]);
            $("#sr_id").val(data["sr_id"]);
            $("#u_num").val(data["u_num"]);
            $("#power").val(data["power"]);
            $('#updateModal').modal('show')
        })
})

// 更新数据
$("#updatebtn").click(function(){
$.post("/cabinetupdate/",$("#updateForm").serialize(),function(data) {
    data=JSON.parse(data)
    if(data["code"]==0){
          swal({ 
                title: "成功", 
                text: data['result'],   
                type: "success",   
                confirmButtonText: "确定"                                                                      
                },function(){
              location.href='/cabinet/'
       });
    }else{
      swal({ 
                title: "更新失败", 
                text: data['result'],   
                type: "error",   
                confirmButtonText: "确定"                                                                      
                },function(){
              location.href='/cabinet/'
       });    


    }
    })
    return false;
})


</script>



         </div>
    </div>
    <br>


</div> <!--wrapper-content-->

{% endblock %}
