<html>
	<title>login successs</title>

<body style="text-align:center">

<form method='post' action='/signup'>

<h1 class="logo hide-text">login successs!</h1>

<h2 class="subtitle">chose to view the userinfomation or return to homepage</h2>


</table>
<a href="/" class="active">homepage</a>


<span class="navs-slider-bar"></span></a></h2>

<table border="1">
</title>
<h1 style="color:red">userinfomation</h1>
<body style="text-align:center">


<<table style="height:100px;" border="1" cellspacing="0" bordercolor="#000000"cellpadding="8"<tr><td>username</td><td>sex</td><td>phone</td><td>email</tr>
<tr><td>{{userdict['name']}}</td><td>{{userdict['sex']}}</td><td>{{userdict['phone']}}</td><td>{{userdict['email']}}</td></tr>

</table>

</body>

</html>