<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

        <title>Title</title>

        </head>

        <body>

          <div>

          <a href="http://192.168.8.114:5000" target="_blank">返回登录?</a>

           </div>

        <form action="/change/" method="POST"  autocomplete="off" >

            <ul>    

                    <li>用户名：<input type="text" name="username"></li>

                    <li>密码：<input type="password" name="password"></li>

                    <li>新密码：<input type="password" name="npassword"></li>

                     <li><input type="submit"></li>

            </ul>

          </form>

      </body>

     </html>