<html>


	<body style="background:LightGreen">


    <table border="1">
    <tr>
        <td>ID</td>
        <td>user</td>
        <td>password</td>
        <td>phone</td>
        <td>email</td>
        <td>age</td>
        <td>sex</td>
        <td>role</td>

    </tr>

    <tr>
        <td>{{ result.id }}</td>
        <td>{{ result.username }}</td>
        <td>{{ result.passwd }}</td>
        <td>{{ result.phone }}</td>
        <td>{{ result.email }}</td>
        <td>{{ result.age }}</td>
        <td>{{ result.sex }}</td>
        <td>{{ result.role }}</td>


    </tr>

    </table>
	</body>

</html>