<html>
	<title>sign up</title>

<body style="text-align:center">

<form method='post' action='/signup/'>

<h1 class="logo hide-text">sign up</h1>

<h2 class="subtitle">please input your infomation</h2>

<input type="text" name="username" aria-label="username" placeholder="username" required><br>
<input type="password" name="password" aria-label="password" placeholder="password" required><br>
<input type="text" name="age" aria-label="age" placeholder="age" required><br>
<input type="text" name="phone" aria-label="phone" placeholder="phone" required><br>
<input type="text" name="email" aria-label="email" placeholder="email" required><br>
<input type="text" name="sex" aria-label="0,1" placeholder="sex" required><br>
<input type="text" name="role" aria-label="0,1" placeholder="role" required><br>
<input type="submit" name="commit" value="submit"><br>

</form>
</body>
</html>