{% extends 'base.html' %}
{% block content %}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="/static/img/logo.png">
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">欢迎，{{result.username}}<span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">

                             {% if result.role==0 %}管理员{% else %}普通用户{% endif %}

                 </span>
            </span>
        </a>
    </div>
</li>
{% endblock %}
{% block main %}
<!--右边第二层面包导航-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
     <br />
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('userinfo') }}">仪表盘</a>
            </li>
            <li>
                <a href="{{ url_for('cbtenreg') }}">

添加机柜


                </a>
            </li>
        </ol>
    </div>
</div> <!--右边导航结束-->

<!--正文部分分了三层-->
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 800px">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	<div class="col-sm-10">
	     <div class="ibox float-e-margins">
		<div class="ibox-title">
		    <h5>填写基本信息</h5>
		    <div class="ibox-tools">
			<a class="collapse-link">
			    <i class="fa fa-chevron-up"></i>
			</a>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="fa fa-wrench"></i>
			</a>
			<a class="close-link">
			    <i class="fa fa-times"></i>
			</a>
		    </div>
		</div>
		<div class="ibox-content">
		    <form id="cabinetForm" class="form-horizontal nice-validator n-yellow" >
			<div class="form-group">
			    <label for="name" class="col-sm-3 control-label  ">机柜名</label>
			    <div class="col-sm-8">
				<input id="name" name="username" placeholder="Name" type="text" class="form-control">
			     </div>
			</div><!--name-->
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="idc_id" class="col-sm-3 control-label">所在机房ID</label>
			    <div class="col-sm-8">
			    <select id='idc_id' name="address"  class='multiselect dropdown-toggle btn btn-default'>

                            <option  value="7">hp</option>

                            <option  value="1">syq</option>

                            <option  value="8">zhaowei</option>

				</select>
			    </div>
			</div><!--idc-->
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="u_num" class="col-sm-3 control-label">U位</label>
			    <div class="col-sm-8">
				<input id="u_num" name="U" placeholder="U number" type="text" class="form-control" aria-required="true">
			    </div>
			</div><!--U位-->
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="power" class="col-sm-3 control-label">电量</label>
			    <div class="col-sm-8">
				<input id="power" name="power" placeholder="Power" type="text" class="form-control" >
			    </div>
			</div> <!--电量-->
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <div class="col-sm-6 col-sm-offset-2">
				<button id="submit_button" class="btn btn-primary">确认保存</button>
				<button id='cancel_button' class="btn btn-white" type="reset">取消</button>
				<button class="btn btn-white" type="reset">重置</button>
			    </div>
			</div>
			<div style="color:red" class="text-center" id="errmsg"></div>
		   </form>
		</div>
	    </div>
	</div>
    </div>
</div>

<script>

$('#idc_id').multiselect({
            placeholder: "请选择",
            enableCaseInsensitiveFiltering: true
            })
$('#idc_id').multiselect('refresh')
$("#submit_button").click(function(){
    var str=$("#cabinetForm").serialize()
	$.post("/cbtenreg/",str,function(data){
	    data=JSON.parse(data);
	    if(data["code"] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			    location.href='/cbtenlist/'
		    })
	    }else{
		    swal('Error',data['errmsg'],'error')
	    }
	})
	return false
})

$('#cancel_button').click(function(){
    location.href='/cbtenlist/'
})

</script>


         </div>
    </div>
    <br>


</div> <!--wrapper-content-->



<!--页面尾部-->
<div class="footer fixed">
    <div class="pull-right">
        Version <strong>0.3.1</strong> GPL.
    </div>
    <div>
        <strong>Copyright</strong>Reboot.com  Team © 2014-2015
    </div>
</div>

</div>  <!--page-wrapper-->
</div>   <!--wrapper-->

{% endblock %}



</body></html>