<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录窗口</title>
</head>
<style>
    body{text-align: center}
</style>
<body>
<h1><span style="background-color:#1E90FF;">登录窗口</span></h1>
    <table width="760" height="100%" align="center">
        <tr>
            <td>
                <div align="center">
                    <!-- 内部表格开始 -->
                    <form action="/login/" method="POST">
                    <table height="150">
                        <tr>
                             <th>账号：</th>
                             <th><input type="text" name="username"></th>
                        </tr>
                        <tr>
                            <th>密码：</th>
                            <th><input type="text" name="password"></th>
                        </tr>
                        <tr>
                            <th colspan="2"><input type="submit" style='font-size:28px' value="立即登录"></th>
                            {% if error %}
                            <th><span style="color: crimson">{{ error }}</span></th>
                            {% endif %}
                        </tr>
                    </table>
                    <!-- 内部部表格结束 -->
                </div>
            </td>
        </tr>
    </table>
    <!-- 外部表格结束 -->


        </form>
</body>
</html>