<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css" rel="stylesheet">
        .wrap{margin:0 auto;width:500px;} 
        input.text{text-align:center;padding:5px 23px;width:231px;}  
    </style>
</head>
    <body>
        <div class="wrap">
          <h1>&nbsp&nbsp&nbsp&nbsp&nbsp  userinfomation update</h1>    
            <form  action="/update/" method="post">

 

                
             <input type="text" name="username" aria-label="username" placeholder="username" ><br>
                
                <input  class="text"   type="submit" value="delete" /> <br>
                <p class="tip"><span>{{ msg }}</span></p><br>
                


            </form>
        </div>
    </body>
</html>