
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>css3搞笑的404动画页面模板_素材中国17素材网</title>
<meta name="keywords" content="404页面、css3动画" />
<meta name="description" content="css3搞笑的404动画页面模板有0个人转采，0个人赞，0个人评论。" />
<script type="text/javascript" src="/Public/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		var tool = {'host': "http://www.17sucai.com/",'logged':false};
			
			</script>
<link rel="stylesheet" href="/Public/style/style.css" type="text/css" media="all"/>

<!--解决 IE6 背景缓存-->
<!--[if IE 6]><script type="text/javascript">document.execCommand("BackgroundImageCache", false, true);</script><![endif]-->
	<link rel="canonical" href="http://www.17sucai.com/pins/14853.html" />
<script type="text/javascript">var isWidescreen = screen.width >= 1280;
if (isWidescreen) {
	document.write("<style type='text/css'>.LiquidContainer{width:1237px!important;}.leftspan{width:885px;}.pin-code h3{background:url(/static/images/titbg1280.jpg) no-repeat 0 100%;}.pin-img img{max-width:850px;width:expression(this.width > 850 ? '850px' : this.width);}.breadcrumbs{width:760px;}</style>");
}</script>

</head>
<body>

<div id="Header">
    <div class="LiquidContainer clearfix">
		<a class="logo" title="17素材" href="http://www.17sucai.com/">中国素材网站-素材中国17素材网</a>
		<div id="main_menu">
			<div class="nav">
								<a rel="nofollow" class="link" href="http://www.17sucai.com/my/following">签到</a>
								<ul class="menu">
					<li><a href="http://www.17sucai.com/">最新分享<em></em></a></li>
					<li><a href="http://www.17sucai.com/hot/boards">热门画板<em></em></a></li>
					<li>
						<a href="http://www.17sucai.com/hot">热门推荐<em></em>
						</a>
					</li>
				</ul>
			</div>
			<div class="topnav">
												<div class="nav"><a class="link" href="http://www.17sucai.com/category/1">代码</a></div>
								<div class="nav"><a class="link" href="http://www.17sucai.com/category/2">设计</a></div>

				<div class="tent_nav LiquidContainer">
					<div class="shadow_nav clearfix">


																		<div class="unit navitem01">
									<dl>
									<dt><a href="http://www.17sucai.com/category/1/4">网页特效</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/1/4/32">图片代码</a>
											
												<a   href="http://www.17sucai.com/category/1/4/33">导航菜单</a>
											
												<a   href="http://www.17sucai.com/category/1/4/34">选项卡/滑动门</a>
											
												<a   href="http://www.17sucai.com/category/1/4/35">文字特效</a>
											
												<a   href="http://www.17sucai.com/category/1/4/36">表单代码</a>
											
												<a   href="http://www.17sucai.com/category/1/4/37">提示框/浮动层/弹出层</a>
											
												<a   href="http://www.17sucai.com/category/1/4/38">div css</a>
											
												<a   href="http://www.17sucai.com/category/1/4/39">其它特效</a>
											
																			</dd>
																	</dl>
									</div>
												<div class="unit navitem02">
									<dl>
									<dt><a href="http://www.17sucai.com/category/1/5">flash素材</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/1/5/40">flash动画素材</a>
											
												<a   href="http://www.17sucai.com/category/1/5/41">flash banner/图片</a>
											
												<a   href="http://www.17sucai.com/category/1/5/42">flash导航菜单</a>
											
												<a   href="http://www.17sucai.com/category/1/5/62">flash模板素材</a>
											
																			</dd>
																	</dl>
									</div>
												<div class="unit navitem03">
									<dl>
									<dt><a href="http://www.17sucai.com/category/1/31">html5 css3</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/1/31/44">css3实例</a>
											
												<a   href="http://www.17sucai.com/category/1/31/45">html5实例</a>
											
												<a   href="http://www.17sucai.com/category/1/31/66">手机网站</a>
											
												<a   href="http://www.17sucai.com/category/1/31/67">单页模板</a>
											
																			</dd>
																	</dl>
									</div>
																		<div class="unit navitem01">
									<dl>
									<dt><a href="http://www.17sucai.com/category/2/47">网页模板</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/2/47/53">企业网站</a>
											
												<a   href="http://www.17sucai.com/category/2/47/54">商城网站</a>
											
												<a   href="http://www.17sucai.com/category/2/47/56">个人网站</a>
											
												<a   href="http://www.17sucai.com/category/2/47/60">专题模板</a>
											
												<a   href="http://www.17sucai.com/category/2/47/63">后台模板</a>
											
												<a   href="http://www.17sucai.com/category/2/47/65">响应式模板</a>
											
																			</dd>
																	</dl>
									</div>
												<div class="unit navitem02">
									<dl>
									<dt><a href="http://www.17sucai.com/category/2/48">网页素材</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/2/48/57">图标素材</a>
											
												<a   href="http://www.17sucai.com/category/2/48/58">按钮素材</a>
											
												<a   href="http://www.17sucai.com/category/2/48/59">网页背景图片</a>
											
												<a   href="http://www.17sucai.com/category/2/48/64">字体素材</a>
											
																			</dd>
																	</dl>
									</div>
												<div class="unit navitem03">
									<dl>
									<dt><a href="http://www.17sucai.com/category/2/79">ppt模板</a></dt>
										<dd>
											
												<a   href="http://www.17sucai.com/category/2/79/80">企业ppt</a>
											
												<a   href="http://www.17sucai.com/category/2/79/81">节日ppt</a>
											
												<a   href="http://www.17sucai.com/category/2/79/82">ppt图表</a>
											
												<a   href="http://www.17sucai.com/category/2/79/87">国外ppt</a>
											
																			</dd>
																	</dl>
									</div>
																																							</div>
				</div>
			</div>
			<div class="nav">
				<a class="link" href="http://www.17sucai.com/category/yc/2/47">原创模板</a>
			</div>
			<div class="nav">
				<a class="link" href="http://www.17sucai.com/rankings">排行榜</a>
			</div>
		</div><!--main_menu end-->

		<div class="addshare-box">
			<span title="发布代码" class="addshare-btn CodeIcon">发布代码</span>
			<ul class="menu">
																				<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/4">网页特效 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/5">flash素材 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/31">html5 css3 发布</a></li>
																											</ul>
		</div>

		<div class="addshare-box">
			<span title="发布设计" class="addshare-btn PsdIcon">发布设计</span>
			<ul class="menu">
																												<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/46">psd素材 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/47">网页模板 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/48">网页素材 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/70">高清图片 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/74">音效 发布</a></li>
								<li><a rel="nofollow" href="http://www.17sucai.com/pins/create/79">ppt模板 发布</a></li>
																			</ul>
		</div>

			
        	<div class="nav_user">
			<a rel="nofollow" title="帮助中心" href="http://www.17sucai.com/about" class="nav tools"><em></em></a>
			<ul class="menu">
				<li class="about"><a rel="nofollow" href="http://www.17sucai.com/about">关于我们</a><a rel="nofollow" href="http://www.17sucai.com/help">资源上传协议</a><a rel="nofollow" href="http://www.17sucai.com/feedback">积分获取</a><a rel="nofollow" href="http://www.17sucai.com/contact">联系我们</a><em></em></li>
				<li class="mine"><a rel="nofollow" class="notlogin" href="javascript:void(0);">登录</a><a rel="nofollow" href="http://www.17sucai.com/signup">注册账号</a><em></em></li>
			</ul>
		</div>



		

		<div id="Search">
			<form action="" method="get" class="text">
				<input type="text" id="" name="keyword" size="27" value="" placeholder="搜索你喜欢的" maxlength="12" />
				<a id="query_button" href="#" class="lg"><img src="/Public/images/search.gif" width="12" height="12" alt="搜索" /></a>
			</form>
		</div><!--Search end-->

	</div>
</div><!--Header end-->

<script>
$(document).ready(function(){

	var $b = $('#query_button'),$i = $('#Search input');

	$i.keyup(function(e){
		if(e.keyCode == 13){
			$b.click();
		}
	});

	$b.click(function(){
		if($('input[name="keyword"]').val()==""){
			alert("搜索关键词不能为空");
			return false;
		}else{
			var keyword = $('input[name="keyword"]').val();
			window.location.href='http://www.17sucai.com/search/s?q='+encodeURI(keyword);
			return false;
		}
	});

});
</script>


<div class="tb960x90" style="height:150px;overflow:hidden;margin-top:40px;">
	<div style="width:960px;height:90px;overflow:hidden;margin:0 auto;">
		<a href="http://588ku.com/?m=element&h=17sucai" target="_blank" rel="nofollow"><img src="http://www.17sucai.com/Public/images/960x90_588ku.gif" /></a>
	</div>
	<div style="width:960px;height:60px;overflow:hidden;margin:0 auto;">
		<a rel="nofollow" href="http://ibaotu.com/tupian/haibao.html?spm=netbian" target="_blank"><img src="http://www.17sucai.com/Public/images/888pic.jpg" /></a>
	</div>
</div>
<div id="nav_bar">
    <div class="LiquidContainer clearfix">

        <div class="f-l breadcrumbs">
			
        					
									<span>></span><a href="http://www.17sucai.com/category/1">代码</a>
					
						
			               				
									<span>></span><a href="http://www.17sucai.com/category/1/31">html5 css3</a>
					
				            				
				
					<span>></span><a href="http://www.17sucai.com/category/1/31/67">单页模板</a>
				            	        	        <span>></span><a style="color:#999;" href="http://www.17sucai.com/pins/14853.html">css3搞笑的404动画页面模板</a>
        </div>


               <div class="f-r quickbtn">
			<a rel="nofollow" href="http://www.17sucai.com/signup" class="Button RedButton Button18"><strong>注册 »</strong></a>
			<a rel="nofollow" href="javascript:void(0);" class="Button WhiteButton Button18 notlogin"><strong>登录</strong></a>
		</div>
		

        <div class="f-r weibo"></div>

    </div>
</div><!--nav_bar end-->

<div id="main">
    <div class="LiquidContainer clearfix">

        <div class="wrapbox leftspan">
            <div class="PinPinner">
            <a rel="nofollow" target="_blank" class="ImgLink" href="http://www.17sucai.com/space/1.html">
            	<img class="PinnerImage" width="50" height="50" alt="anoaghost" src="http://www.17sucai.com/avatar/1/2013-05-06/98639ad973087df11abff14f94dc6cac_thumb.jpg" />
            </a>
                <h1>css3搞笑的404动画页面模板</h1>
                <p class="PinArticle"><a rel="nofollow" target="_blank" class="blue" href="http://www.17sucai.com/space/1.html">17素材</a>
                	<em>分享到</em>
                	                	<a target="_blank" class="gray" href="http://www.17sucai.com/boards/33.html">html5特效 html5实例</a>
                	                	<span style="margin:0 10px;">2015-12-28 09:50:35</span>
                </p>
            </div>
            <div class="PinActionButtons clearfix">
                <ul class="f-l">


                                    
                        <a class="Button2 Button11 WhiteButton ContrastButton likebutton notlogin" data-id="14853" href="javascript:void(0);">
                        <em></em><span class="text">赞</span>
                        </a>
						
                </ul>
                                <p class="f-r pin_source"><span class="f-l">来源：</span><a href="http://www.17sucai.com/pins/14853.html">http://www.17sucai.com/pins/14853.html</a></p>
            </div>
			
            <div class="pin-img">
                <div class="pin-pic">
                    <img src="http://image.17sucai.com/upload/1/2015-12-28/b57f6765d52bd65a73dd1fe315fd3725_big.png" alt="css3搞笑的404动画页面模板" />
                    <a target="_blank" href="http://image.17sucai.com/upload/1/2015-12-28/b57f6765d52bd65a73dd1fe315fd3725.png" title="查看原图" id="zoomr_show"></a>
                </div>

				<p class="pin-imgdes">css3 404页面模板</p>


                                <div class="pin-btn clearfix">
					<span class="btnbox">
<div id="qrcode" >

                        						<a rel="nofollow" target="_blank" class="bigbtn demo" href="http://www.17sucai.com/pins/demoshow/14853">查看演示</a>
</div>


						<script type="text/javascript">$(function() {
	$("#qrcode").hoverClass("hover");
})</script>

                      <span class="dlnum">下载资源：<strong class="blue">149</strong>次</span>
 </span>
					<span class="btnbox">
						                           	<a class="bigbtn  download  notlogin" href="javascript:void(0);" data-url="http://www.17sucai.com/download/14853.html">下载资源</a>
                           	                      					  <span class="dlcount">下载积分：<strong class="blue">20</strong>分</span>
						                    </span>
				</div>
				
				





            </div>


                <div class="tagged-with">
                	                <span class="gray">标签：</span>
                                                        <a target="_blank" class="button3 white" href="http://www.17sucai.com/pins/tag/281.html">404页面</a>
                                        <a target="_blank" class="button3 white" href="http://www.17sucai.com/pins/tag/859.html">css3动画</a>
                                </div>



			<div class="pin-code">
				<h3>相关代码</h3>
				<div class="pin-related">
					<ul>
																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14818.html">html5手机站城市选择特效</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/120969.html">待归类采集</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/67">单页模板</a>]</em>
							<a href="http://www.17sucai.com/pins/14815.html">html5 css3微信营销介绍页面全屏滚动模板</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/33.html">html5特效 html5实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/44">css3实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14805.html">css3仿iOS8风格loading加载进度条动画</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/15.html">css3教程 css3实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/66">手机网站</a>]</em>
							<a href="http://www.17sucai.com/pins/14799.html">绿色的手机网上水果商城wap模板</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/121106.html">待归类采集</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14793.html">html5 canvas酷炫圣诞节祝福文字动画特效</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/15440.html">2</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/44">css3实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14776.html">纯css3 transition鼠标悬停图片文字动画显示</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/15.html">css3教程 css3实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14771.html">html5 canvas手机糖果粉碎游戏源码下载</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/121054.html">待归类采集</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14740.html">html5 svg响应式圆形进度条动画特效</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/33.html">html5特效 html5实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/44">css3实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14734.html">html5 css3美化input滑块拖动样式代码</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/15.html">css3教程 css3实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/66">手机网站</a>]</em>
							<a href="http://www.17sucai.com/pins/14732.html">html5汽车手机宣传专题页面模板</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/44043.html">wap手机网站模板</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14698.html">jQuery html5支持手机触屏幻灯片图片轮播代码</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/120977.html">网页特效</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14689.html">html5支持手机端层叠页面点击导航切换</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/33.html">html5特效 html5实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/44">css3实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14687.html">css3 sprite植物大战僵尸走路动画特效</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/15.html">css3教程 css3实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14685.html">html5手机密码设置页面模板</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/33.html">html5特效 html5实例</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/45">html5实例</a>]</em>
							<a href="http://www.17sucai.com/pins/14671.html">HTML5 SVG可爱的笑脸动画特效</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/101274.html">待归类采集</a>
								
								</div>
						</li>

																								<li>
							<em class="tagchannel">[<a class="blue" href="http://www.17sucai.com/category/2/31/67">单页模板</a>]</em>
							<a href="http://www.17sucai.com/pins/14643.html">html5 css3适用于手机端网站入口引导页模板</a>
							<div class="comm-read">

								分享到：
																<a href="/boards/120803.html">待归类采集</a>
								
								</div>
						</li>

						
																	</ul>
				</div>
			</div>

			<div class="pin-code">
				<h3>热门标签</h3>
				<div class="taglist" id="tags">
											<a target="_blank" href="http://www.17sucai.com/pins/tag/556.html">css3教程</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/557.html">css3 按钮</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/859.html">css3动画</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/4020.html">手机</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5273.html">微信</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5898.html">游戏</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/6737.html">html5动画</a>
									</div>
			</div>

			<script type="text/javascript">$(document).ready(function() {

	/*多彩tag*/
	var tags_a = $("#tags").find("a");
	tags_a.each(function() {
		var x = 9;
		var y = 0;
		var rand = parseInt(Math.random() * (x - y + 1) + y);
		$(this).addClass("size" + rand);
	});

});</script>

            <div class="pin-code" id="comments-write">



                <div class="commentbox">
                    <div class="commentTitle"><div><h4 class="Button2 WhiteButton">评论</h4><a name="comment"></a></div></div>


                    <div class="pin-kindeditor Form" style="font-size:16px;text-align:center;line-height:48px;height:48px;color:#ff6600;">
                        本站评论功能暂时取消，后续此功能例行通知。
                    </div>
					<p>一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播不法有害信息！</p>
					<p>二、互相尊重，对自己的言论和行为负责。 </p>
                </div>

            </div>

        </div><!--leftspan end-->

        <div class="wrapbox rightspan">
			
			<div style="margin:-15px -15px 0 -15px;">
				<a rel="nofollow" target="_blank" href="http://jz.faisco.com/pro11.html?_ta=2153"><img src="http://www.17sucai.com/Public/images/fanke300-250.gif" width="300" height="250" /></a>
			</div>
			
            <div class="other-collect">
                <h2><a target="_blank" href="http://www.17sucai.com/boards/33.html">html5特效 html5实例</a></h2>
                <div class="detailBoards">
                    <a class="BoardBtner" target="_blank" href="http://www.17sucai.com/boards/33.html"></a>
                    <ul class="clearfix">
						                                                                        <li>
                                                    <a href="http://www.17sucai.com/pins/26134.html" class="spic">
                                <img alt="html5 svg卡通环境数据统计图表代码" originalsrc="http://image.17sucai.com/upload/1/2017-09-04/2c41743dcdc6298c577c237b7a8c675a_small.png" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26134.html">html5 svg卡通环境数据统计图表代码</a>
                        </li>

                                                                                                <li>
                                                    <a href="http://www.17sucai.com/pins/26127.html" class="spic">
                                <img alt="html5 canvas手机斗地主游戏源码下载" originalsrc="http://image.17sucai.com/upload/1/2017-09-04/28fdaf5575c8d7498d23d4fed5742b58_small.png" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26127.html">html5 canvas手机斗地主游戏源码下载</a>
                        </li>

                                                                                                <li>
                                                    <a href="http://www.17sucai.com/pins/26109.html" class="spic">
                                <img alt="html5宽屏的商务合作公司响应式模板" originalsrc="http://image.17sucai.com/upload/1/2017-09-01/617a9ee6c2c5b29438ccfa1795ef367d_small.jpg" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26109.html">html5宽屏的商务合作公司响应式模板</a>
                        </li>

                                                                                                <li>
                                                    <a href="http://www.17sucai.com/pins/26101.html" class="spic">
                                <img alt="html5 canvas水墨风格的云雾动画特效" originalsrc="http://image.17sucai.com/upload/1/2017-09-01/6dd20726e2f0fe78ebf53441c513bfbb_small.jpg" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26101.html">html5 canvas水墨风格的云雾动画特效</a>
                        </li>

                                                                                                <li>
                                                    <a href="http://www.17sucai.com/pins/26083.html" class="spic">
                                <img alt="html5 canvas酷炫的纸屑3D旋转动画特效" originalsrc="http://image.17sucai.com/upload/1/2017-08-30/49a52529b0b518a506a5d55eb9b1c3b4_small.png" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26083.html">html5 canvas酷炫的纸屑3D旋转动画特效</a>
                        </li>

                                                                                                <li>
                                                    <a href="http://www.17sucai.com/pins/26061.html" class="spic">
                                <img alt="html5 svg手机底部菜单栏图标动画展开特效" originalsrc="http://image.17sucai.com/upload//2017-08-28/7bea6203c4c441a55898fd33b421af35_small.jpg" width="82" />
                            </a>
                            <a class="p-name" href="http://www.17sucai.com/pins/26061.html">html5 svg手机底部菜单栏图标动画展开特效</a>
                        </li>

                                                                    </ul>
                </div>
                                    <a class="Button RedButton Button18 attention-btn notlogin">关注画板</a>
            </div>
			
							
            <div class="tag-related">
                <h2>相关标签</h2>
                <div class="tag-btn clearfix">
											<a target="_blank" href="http://www.17sucai.com/pins/tag/281.html">404页面</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5733.html">单页网站</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5734.html">单页网站模板</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5737.html">网站正在建造中</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5738.html">网站正在建设中模板</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5739.html">html单页模板</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5740.html">html单页</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5741.html">网站正在建设中页面</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5742.html">网站单页模板</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/5743.html">html5单页模板</a>
											<a target="_blank" href="http://www.17sucai.com/pins/tag/7166.html">响应式单页模板</a>
					                </div>
            </div>
			
			
            <div class="other-collect">
                <h2>下载该资源用户也下载了</h2>
                <ul class="clearfix">
				
                                    <li>
                        <a href="http://www.17sucai.com/pins/10174.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/312626/2015-04-30/77a5d9453d3a06254a3c77c25733d71a_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/10174.html" class="p-name">酷炫html5 css3全屏滚动动画专题模板</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/9816.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/308815/2015-04-07/2b26bb2bb51aae59b7aeaab4d4f27941_small.png" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/9816.html" class="p-name">html5千寻浏览器官网页面滚屏展示特效</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/8859.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/1/2015-01-18/b413bf098ed5ae582aae51d0020d3abb_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/8859.html" class="p-name">jQuery html5专题页视差滚动网站模板代码</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/11926.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/251404/2015-08-13/92ab4b6d3d6408fb24b4b8b5088bd56c_small.png" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/11926.html" class="p-name">html5酷炫的企业网站引导页模板</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/7171.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/1/2014-09-23/2dd8c2360ce4e913e17a674b3b35d8fb_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/7171.html" class="p-name">html5网站正在建设中模板下载_网站正在建设中页面源码下载</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/15949.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/153526/2016-02-17/adf9497415f58c1e20f2a4b5fa41bde3_small.png" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/15949.html" class="p-name">大气的微信营销公司html5全屏滚动模板</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/10095.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/1/2015-04-26/cb124d994975a2945abe0346b06fe124_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/10095.html" class="p-name">html5叮咚手机app下载页面滚动展示特效</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/2744.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/47509/2013-10-18/0eb0434ef06bda3fe942bedfb5955df8_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/2744.html" class="p-name">创意的引导页首页网站上线倒计时html5网页模板下载</a>
                    </li>
                
                                    <li>
                        <a href="http://www.17sucai.com/pins/10078.html" class="spic"><img originalsrc="http://image.17sucai.com/upload/1/2015-04-25/b2abedcffab9410be2935d6fd93f11a4_small.jpg" width="82" /></a>
                        <a href="http://www.17sucai.com/pins/10078.html" class="p-name">html5万能输入法软件介绍页面滚动展示特效</a>
                    </li>
                
                                                </ul>
            </div>
			
			
        </div><!--rightspan end-->

    </div>
</div><!--main end-->





<div class="footer">
	<div class="LiquidContainer">
		<p class="f-l p-2">
			<a href="http://www.17sucai.com">17素材网</a> &copy; 2015 www.17sucai.com 版权所有<span>|</span><a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">浙ICP备13006792号</a>
		</p>
		<p class="f-r p-1">
			<a rel="nofollow" target="_blank" href="http://www.17sucai.com/about">关于我们</a><span>|</span><a rel="nofollow" target="_blank" href="http://www.17sucai.com/feedback">积分获取</a><span>|</span><a rel="nofollow" target="_blank" href="http://www.17sucai.com/contact">联系我们</a><span>|</span><a target="_blank" href="http://www.17sucai.com/search-tab">标签搜索</a><span>|</span><a target="_blank" href="http://www.17sucai.com/sitemap.html">网站地图</a><span>|</span><a rel="nofollow" target="_blank" href="http://www.17sucai.com/verify">审核条件</a>
		</p>
	</div>
</div>

<div id="ScrollToTop" class="btnimg Button2 WhiteButton Offscreen">返回<br />顶部</div>

<div style="display:none;">

	<!--未登录状态弹出窗口 登陆后这个部分代码不要显示了-->
	<div id="logincon" class="clearfix">
				<div class="social_buttons">
			<h2>目前只支持以下四种登录方式：</h2>
            <div class="inset">
				<a rel="nofollow" href="http://www.17sucai.com/oauth/sina?refer=http://www.17sucai.com/pins/14853.html" class="xlweibo login-button"><span class="text">新浪账号</span></a>
				<a rel="nofollow" href="http://www.17sucai.com/oauth/kaixin?refer=http://www.17sucai.com/pins/14853.html" class="wkaixin login-button"><span class="text">开心账号</span></a>
			</div>
            <div class="inset">
				<a rel="nofollow" href="http://www.17sucai.com/oauth/qq?refer=http://www.17sucai.com/pins/14853.html" class="qzone login-button"><span class="text">QQ帐号</span></a>
				<a rel="nofollow" href="http://www.17sucai.com/oauth/douban?refer=http://www.17sucai.com/pins/14853.html" class="wdouban login-button"><span class="text">豆瓣账号</span></a>
			</div>
			<p>未注册过用户可以点击直接登录哦！</p>
		</div>

		<div class="login">
			<h2>使用注册邮箱登录</h2>
			<form id="login" class="AuthForm Auth" action="" method="post">
				<ul class="Form FancyForm clearfix">
					<li>
						<input name="email" type="text" class="stext email" value="" />
						<label>注册邮箱</label>
						<span class="fff"></span>
					</li>
					<li>
						<input name="password" type="password" class="stext password" value="" />
						<label>密码</label>
						<span class="fff"></span>
					</li>



					<li class="clearfix">
						<button style="float:left;font-size:18px" type="button" class="subtn Button RedButton Button18">登录</button>
						<!--<a class="forget-password" href="javascript:loginform();">忘记密码了？</a>-->
					</li>
				</ul>
			</form>
			<form id="" class="AuthForm Reset" action="" method="post" style="display:none;">
				<ul class="Form FancyForm clearfix">
					<li>
						<input id="" name="" type="text" class="stext" />
						<label>邮箱地址</label>
						<span class="fff"></span>
					</li>
					<li>
						<button style="float:left;font-size:18px;" type="submit" class="Button RedButton Button18">重置</button>
						<a class="forget-password" href="javascript:resetform();">哦，又想起来了？</a>
					</li>
				</ul>
			</form>
		</div><!--login end-->

		<div class="clear"></div>

	</div><!--logincon end-->

<script src="/Public/js/sha1.js"></script>

<script>
$(function(){

	$('.subtn').live('click', function() {
		//必须添加#windown-content #login 节点
		var email = $('#windown-content #login .email').val();
		var password = hex_sha1($('#windown-content #login .password').val());

		var token = 'SwAI/egk20Igl7bZI/E0vP0mvjiCYfYd9LrA4OoY6tc=';


		$.post('http://www.17sucai.com'+'/auth',{'email':email,'password':password,'token':token} , function(data) {

			if(data.ret == 0) {
				alert(data.msg);
			} else {
				window.location.reload();
			}
		}, 'json');
	});

});
</script>







	<!--登录后点击采集弹出层窗口-->
	<div id="repincon" class="clearfix">

		<div class="windown-Board">
			<div class="ver_pic">
				<div class="subpic"><img alt="17素材网" src="" /></div>
			</div>
		</div>

		<div class="windown-operate">
			<form class="Form" id="" name="" action="">
			<div class="BoardPicker">
				<div class="current">
					<span class="CurrentBoard">选择画板...</span>
					<span class="DownArrow"></span>
				</div>
				<div class="BoardList">
					<div class="wrapper">
						<ul>
							
                        						</ul>
					</div>
					<div class="CreateBoard">
						<input type="text" id="boardname" value="" placeholder="创建新画板"/>
						<button type="button" id="createboard" class="Button WhiteButton Button18">创建</button>
					</div>
				</div>
			</div>
			<ul class="BoardText">
				<li><input type="text" class="stext" value="" name="title" id="" disabled="disabled" style="background:#ddd;" /></li>
				<li id="share-opts">
										<span>分享到：</span>
															<label class="qqz"><input type="checkbox" name='zone' checked="checked" data-key="qqz" /><span>QQ空间</span></label>
					<label class="tqq"><input type="checkbox" name='t' checked="checked" data-key="tqq" /><span>腾讯微博</span></label>
					                                        									</li>
				<li><input type="button" id="" value="采集下来" class="Button RedButton Button18" ></li>
			</ul>
			<div class="pin-done">
				<h3>你已经成功采集到<a target="_blank" href="#"></a></h3>
				<div id="pin_operations"><a target="_blank" href="/pins/73">查看这个采集</a>&nbsp;|<span class="closebox">关闭窗口</span></div>
			</div>
			</form>

			<script type="text/javascript">
				$(document).ready(function(){
					//画板
					$(".CurrentBoard").bind('click', function(){
						if(!($(this).parent().next().css('display')=='block')){
							$('.BoardList:visible').hide();
							$(this).parent().next().slideDown('fast');

						}else{
							$('.BoardList:visible').hide();
						}
					});
					$(".BoardList li").live('click', function(){
						$(".BoardList:visible").hide();
						setDefaultBoard($(this).attr('id'), $(this).text());
					});
				});
			</script>

        </div>

    	</div><!--repincon end-->
</div>

<script type="text/javascript">$(document).ready(function() {
	$('#usercollect,#usercomment').click(function() {
		if (!tool.logged) {
			return false;
		}
		var type = $(this).attr('id');
		var that = $(this);
		var txt = that.attr('class');
		$.ajax({
			'url': tool.host + 'member/addScore',
			'type': 'post',
			'data': {
				'type': type
			},
			'dataType': 'json',
			'success': function(data) {
				if (data.code == 200) {
					var f = txt.replace(/RedButton/g, "WhiteButton");
					that.removeClass().addClass(f).text('已领取').attr('id', '').removeClass('rebtn').addClass('unbtn');
				}
			}
		});
	});


});

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F382f81c966395258f239157654081890' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>

<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=693756" ></script>
<script type="text/javascript" id="bdshell_js"></script>

<script type="text/javascript" src="/Public/js/public.js"></script>

<script type="text/javascript">
jQuery.fn.extend({
	delayLoading: function(a) {
		function g(d) {
			var b, c;
			if (a.container === undefined || a.container === window) {
				b = $(window).scrollTop();
				c = $(window).height() + $(window).scrollTop()
			} else {
				b = $(a.container).offset().top;
				c = $(a.container).offset().top + $(a.container).height()
			}
			return d.offset().top + d.height() + a.beforehand >= b && c >= d.offset().top - a.beforehand
		}

		function h(d) {
			var b, c;
			if (a.container === undefined || a.container === window) {
				b = $(window).scrollLeft();
				c = $(window).width() + $(window).scrollLeft()
			} else {
				b = $(a.container).offset().left;
				c = $(a.container).offset().left + $(a.container).width()
			}
			return d.offset().left + d.width() + a.beforehand >= b && c >= d.offset().left - a.beforehand
		}

		function f() {
			e.filter("img[" + a.imgSrcAttr + "]").each(function(d, b) {
				if ($(b).attr(a.imgSrcAttr) !== undefined && $(b).attr(a.imgSrcAttr) !== null && $(b).attr(a.imgSrcAttr) !== "" && g($(b)) && h($(b))) {
					var c = new Image;
					c.onload = function() {
						$(b).attr("src", c.src);
						a.duration !== 0 && $(b).hide().fadeIn(a.duration);
						$(b).removeAttr(a.imgSrcAttr);
						a.success($(b))
					};
					c.onerror = function() {
						$(b).attr("src",
							a.errorImg);
						$(b).removeAttr(a.imgSrcAttr);
						a.error($(b))
					};
					c.src = $(b).attr(a.imgSrcAttr)
				}
			})
		}
		a = jQuery.extend({
			defaultImg: "",
			errorImg: "",
			imgSrcAttr: "originalSrc",
			beforehand: 0,
			event: "scroll",
			duration: "normal",
			container: window,
			success: function() {},
			error: function() {}
		}, a || {});
		if (a.errorImg === undefined || a.errorImg === null || a.errorImg === "") a.errorImg = a.defaultImg;
		var e = $(this);
		if (e.attr("src") === undefined || e.attr("src") === null || e.attr("src") === "") e.attr("src", a.defaultImg);
		f();
		$(a.container).bind(a.event, function() {
			f()
		})
	}
});</script>

<script type="text/javascript">
$(function() {

	$("img").delayLoading({
		defaultImg: "http://www.17sucai.com/static/images/17loading.png", // 预加载前显示的图片
		errorImg: "", // 读取图片错误时替换图片(默认：与defaultImg一样)
		imgSrcAttr: "originalSrc", // 记录图片路径的属性(默认：originalSrc，页面img的src属性也要替换为originalSrc)
		beforehand: 0, // 预先提前多少像素加载图片(默认：0)
		event: "scroll", // 触发加载图片事件(默认：scroll)
		duration: "normal", // 三种预定淡出(入)速度之一的字符串("slow", "normal", or "fast")或表示动画时长的毫秒数值(如：1000),默认:"normal"
		container: window, // 对象加载的位置容器(默认：window)
		success: function(imgObj) {
		}, // 加载图片成功后的回调函数(默认：不执行任何操作)
		error: function(imgObj) {} // 加载图片失败后的回调函数(默认：不执行任何操作)
	});

	$('#follow,#unfollow').click(function() {
		var boardid = 93276;

		var actions = ($(this).attr('id') != 'follow') ? 'delete' : '';

		var that = $(this);
		$.getJSON(tool.host + 'boards/follow/' + boardid + '?actions=' + actions, function(data) {
			console.log(data);
			if (data.follow.code == 200) {
				var txt = that.attr('class');
				if (actions == 'delete') {
					var f = txt.replace(/WhiteButton/g, "RedButton");
					that.removeClass().addClass(f).text('关注画板').attr('id', 'follow');
				} else {
					var f = txt.replace(/RedButton/g, "WhiteButton");
					that.removeClass().addClass(f).text('取消关注画板').attr('id', 'unfollow');
				}

			}
		});

	});

	$(".repin_link").click(repinBox);

	$("#click-comments").click(function() {
		$('html,body').animate({
			scrollTop: $("#comments-write").offset().top
		}, 800);
	});

	//弹出层调用
	function repinBox() {
		if (!tool.logged) {
			showTipsWindown("登录", 'logincon', 750, 250);
			return false;
		}

		showTipsWindown("转采", 'repincon', 750, 290);
		var image_url = 'http://www.17sucai.com/upload/277167/2015-02-04/bf01b3dba3589345a8b19df150bf407a_thumb.jpg';
		var pinsid = '9184';
		var title = '紫色设计作品展示网页模板素材psd';

		$('#windown-content').find('img').attr('src', image_url);
		$('#windown-content .BoardPicker,.BoardText,.pin-done').hide();

		$.getJSON(tool.host + 'follow/' + pinsid, function(data) {

			if (data.ret==1) {
				$('#windown-content').find('.pin-done').show();
				$('#windown-content').find('#pin_operations a').attr('href', '/pins/' + data.pins.id + '.html');
				$('#windown-content').find('.pin-done h3 a').attr('href', '/boards/' + data.pins.boardid + '.html').text(data.pins.board_name);
			} else {
				$('#windown-content').find('.pin-done').hide();
				$('#windown-content .BoardPicker,.BoardText').show();
				setBoardData(pinsid, title, image_url);
			}
		});


	}

	function setBoardData(id, title, image) {
		$('#windown-content').find('.pin-done').hide();

		$('#windown-content').find('input[name="title"]').val(title);
		$('#windown-content').attr('data-id', id);
	}

	//提交分享
	$('#windown-content .BoardText input[type="button"]').live('click', function() {
		var boardid = $('#windown-content .CurrentBoard').attr('data-id');
		var data = $('#windown-content .Form').serialize() + '&boardid=' + boardid;
		var goodsid = $('#windown-content').attr('data-id');
		$.post(tool.host + 'collect/' + goodsid, data, function(data) {
			if (data.ret==1) {
				//alert('转采成功');
				$('#windown-content').find('.pin-done').show();
				$('#windown-content').find('.BoardText').hide();
				$('#windown-content').find('.BoardPicker').hide();
				$('#windown-content').find('#pin_operations a').attr('href', '/pins/' + data.pins.id + '.html');
			}
		}, 'json');
	});
});


(function(d, t) {
	window.huaban_minWidth = 250;
	window.huaban_minHeight = 250;
	window.huaban_md = "17sucai_com";
	var appendScript = function() {
		var a = d.createElement('script');
		a.id = 'huaban_share_script';
		a.async = true;
		a.setAttribute('charset', 'utf-8');
		a.src = 'http://huaban.com/js/pinmarklet.js?' + Math.floor(+new Date / 1E7);
		var s = d.getElementsByTagName(t)[0];
		s.parentNode.insertBefore(a, s);
	}
	if (window.attachEvent) {
		window.attachEvent('onload', function() {
			setTimeout(appendScript, 1000);
		});
	} else {
		appendScript();
	}
})(document, 'script');

//分页箭头按钮固定层
$.fn.smartFloat = function() {
	var position = function(element) {
		var top = element.position().top,
			pos = element.css("position");
		$(window).scroll(function() {
			var scrolls = $(this).scrollTop();
			if (scrolls > top) {
				if (window.XMLHttpRequest) {
					element.css({
						position: "fixed",
						top: 0
					});
				} else {
					element.css({
						top: scrolls
					});
				}
			} else {
				element.css({
					position: pos,
					top: top
				});
			}
		});
	};
	return $(this).each(function() {
		position($(this));
	});
};

if ($.browser.msie && $.browser.version <= 7) {
	$(".pin-pic").hoverClass("hover");
} else {
	$(".prevnext").smartFloat();
	$(".prevnext").width($(".pin-img").width());
}

$('#comment').click(function() {
	var that = $(this);
	$('#comment_form').submit();
	that.attr('disabled', true);
});</script>
