<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>后台管理</title>
        <!--<link href="/static/css/signin.css" rel="stylesheet">-->
        <link rel="shortcut icon" href="/static/img/facio.ico" type="image/x-icon">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">

        <!--plugins-->
        <link href="/static/pulgin/Font-Awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/pulgin/sweetalert-master/dist/sweetalert.css" rel="stylesheet">
        <link href="/static/pulgin/datatable/dataTables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/pulgin/multiselect/bootstrap-multiselect.css" type="text/css"/>

        <script src="/static/js/jquery-2.1.1.js"></script>

        <!--plugins-->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/pulgin/sweetalert-master/dist/sweetalert.min.js"></script>
        <script src="/static/pulgin/datatable/dataTables.min.js"></script>
        <script src="/static/pulgin/multiselect/bootstrap-multiselect.js"></script>
    </head>
<body>

    <div id="wrapper">

        {% block index %}{% endblock %}
    </div>
</body>
</html>