<html>
	<title>注册</title>
	<body style="text-align:center">
	<h1>欢迎注册</h1>
	<form action="/register" accept-charset="UTF-8" method="post">
		昵 称：<input placeholder="设置昵称" type="text" name="nick_name"><br>
		手 机：<input placeholder="手机号" type="tel" name="mobile_num"><br>
		密 码：<input placeholder="设置密码" type="password" name="password"><br>
		<input type="submit" name="commit" value="注册">

	</form>
	{% if error %}
	<h3 style="color:blue">{{ error }}</h3>
	{% else %}
	<h3 style="color:blue"></h3>
	{% endif %}
	</body>
</html>
