<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8" /> 
<title>index</title> 
<style> 
body{ text-align:center} 
.div{ margin:0 auto; width:400px; height:150px; border:1px solid #F00} 
/* css注释：为了观察效果设置宽度 边框 高度等样式 */ 
</style> 
</head> 
<body> 
<div class="div"> 
<h3> 欢迎来到 Reboot! !</h3> 
<div <span><a href="http://192.168.64.144:5000/reg/">注册</a></span> </div>
<div <span><a href="http://192.168.64.144:5000/login/">登录</a></span> </div>
</div> 
<!-- <div  class="passWord2"><span><a href="http://192.168.64.144:5000/reg/">注册</a></span>
 
</div> 
<div class="passWord2"><span><a href="http://192.168.64.144:5000/login/">登录</a></span>

</div>  -->
</body> 
</html> 
