<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset =UTF-8">
<title>注册</title>
<style>
body{width:300px;height:200px;margin:0 auto;}
fieldset{ width:300px; }
table{ width:300px; height:100px;}
</style>
</head>
<body bgcolor="#CAFFFF">
<div align='center'>
<fieldset>
    <form action="/reg/" method="POST">
      <div class="register">
         <p class="registerTittle">注册</p>
          <br><input type="text" name="username" placeholder="输入你的用户名"></br>
          <br><input type="text" name="tel" placeholder="手机号"></br>
          <br><input type="text" name="email" placeholder="邮箱"></br>
          <br><input type="password" name="password" placeholder="请输入密码"/></br>
          <br><input type="password" name="repassword" placeholder="请再次输入密码"/></br>
          <span style="color:red">{{result}}</span>
          <br>权限
          <input type="radio" name="role" value=0>管理员
          <input type="radio" name="role" value=1>普通用户</br>
          <br><input type="submit" value="注册" style="margin-left:66px; width:70px;">
          <input type="reset" value="重置" style="width:70px;"/></br>
</form>
</fieldset>
</body>
</html>






