<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 登录 | JumpServer</title>
    <link rel="shortcut icon" href="../static/img/facio.ico" type="image/x-icon">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/pulgin/sweetalert-master/dist/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><img width="300" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505560606944&di=42284f3f7d99fe04eea11c4a97b42bc3&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fpcdlc%2F1612%2F14%2Fc90%2F32477955_1481722933756.png"></h1>
            </div>

            <h2><div class="text-danger">敌军还有5秒到达战场</div></h2>
            <form id="loginForm" action="/login/" method="POST">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" required="length[6~50]">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <button  id="loginbtn" type="submit" class="btn btn-warning block full-width m-b">登录</button>
                <input type="button" value="注册" class="btn btn-success block full-width m-b" onclick="location.href='/reg/'">
            </form>

            <p style="color:blue">
                {% if errmsg %}
                {{ errmsg }}
                {% endif %}
            </p>
            <p class="m-t"> <small><b>Copyright</b> reboot © 2014-2015</small> </p>
        </div>
    </div>

<!-- Mainly scripts-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/pulgin/sweetalert-master/dist/sweetalert.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
//alert("welcome jquery")

$('#loginbtn').on('click',function(){
     var str = $('#loginForm').serialize()
     console.log(str)
     $.post("/login/",str,function(data){
           console.log(data)
          data = JSON.parse(data)
          console.log(data)
          if (data['code']==0){
            swal({
                title: "登录成功",
                text: data['result'],
                type: "success",
                confirmButtonText: "确定"                                                                                      },function(){
                  location.href="/"
              });
          }else{
            swal("MY GOD",data['errmsg'],"error");
             }
     })
     return false
})
</script>

</body>

</html>