<form action="/update/" method="POST" >
    <ul>
        <li>用户名:<input type="text" value="{{res.username}}" name="username"></li>
        <li>密 码:<input type="text" value="{{res.passwd}}" name="password"></li>
        <li>性别:<input type="test" value="{{res.sex}}" name="sex"></li>
        <li>年龄:<input type="text" value="{{res.age}}" name="age"></li>
        <li>电话:<input type="text" value="{{res.phone}}" name="phone"></li>
        <li>邮箱:<input type="text" value="{{res.email}}"  name="email"></li>
        <li>角色:<input type="text" value="{{res.role}}" name="role"></li>
        <li>ID:<input type="text" value="{{res.id}}" name="id"></li>
        <li><input type = 'submit'></li>
    </ul>

</form>
