<html>
<head>
<meta charset="utf-8">
<title>注册页面</title>
</head>
<body>

<form action="/after-reg",method=['POST']>
        {% if error %}
            <span style='color:red'> {{error}} </span>
        {% elif ok %}
            <span style='color:green'> {{ok}} </span>
        {%endif%}
        用户名：
        <input type="text" name='name'> 
        密码：
        <input type="password" name='pwd'>
        重新输入密码：
        <input type="password" name='pwd1'>
        <input type="submit" value='提交'>
</form>
</body>
</html>
