<html><head><title>update pager:w</title></head><body><form action="/update/"  method="POST">
<table border="1">
<tr><td><input type="hidden" name="id" value={{result.id}}></td></tr>
<tr><td>username</td><td><input type="text" name="username" placeholder="username" value={{result.username}}></td></tr>
<tr><td>password</td><td><input type="password" name="password" placeholder="username" value={{result.password}}</td></tr>
<tr><td>
<label><input name="role" type="radio" value="1" >admin</label><label><input name="role" type="radio" value="0" >person</label> 
</td></tr>
<tr><td colspan="2" align="middle"><input type="submit"  value="update"/> </td></tr>
</table>
</form>
<a href="http://192.168.11.133:5000/login/">login</a>&nbsp;&nbsp;&nbsp;<a href="http://192.168.11.133:5000/reg/">register</a>
<h1>{{errmsg}}</h1>
</body></html>